DB_NAME = "name database" 
USER = "username database"
PASSWORD = "your password database"
HOST = "localhost"
# key hashing password
SECRET_KEY_PASS = KeyForHashingPassword
# key jwt token
key_JWT = ForKeyJwtTokenLogin
